<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.humaralabs.fieldrun">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission android:name="com.humaralabs.fieldrun.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.humaralabs.fieldiq.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/outerlogo"
        android:label="@string/app_name"
      android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan"
        android:name="android.support.multidex.MultiDexApplication">
        <activity
            android:name="com.humaralabs.fieldrun.FirstActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.humaralabs.fieldrun.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="com.humaralabs.fieldrun.TripTaskListActivity"
            android:label="@string/title_task_list"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.MainActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.HosListActivity"
            android:label="Basket Details"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.BasketDetailActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.OneshipBaksetListActivity"
            android:label="@string/title_task_list"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.MainActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.TaskDetailActivity"
            android:label="@string/title_task_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.TripTaskListActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.ReviewPageActivity"
            android:label="@string/qc_review"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.TaskDetailActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.NotificationActivity"
            android:label="Notification"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.MainActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.CaptureSignature"
            android:label="Signature Capture"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.TaskDetailActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.UpdateAppActivity"
            android:label="Upadate App"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.SplashActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.HyperLocalTripTaskListActivity"
            android:label="@string/title_task_list"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.HyperLocalBaksetListActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.HyperLocalBaksetListActivity"
            android:label="@string/title_task_list"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.MainActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.HyperLocalTaskDetailActivity"
            android:label="@string/title_task_detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.HyperLocalTripTaskListActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.BasketDetailActivity"
            android:label="Basket Detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.OneshipBaksetListActivity" />
        </activity>
        <activity
            android:name="com.humaralabs.fieldrun.SubTaskDetailActivity"
            android:label="Sub-Task Detail"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.humaralabs.fieldrun.HosListActivity" />
        </activity>

        <activity
            android:name="com.humaralabs.fieldrun.DeviceListActivity"
            android:label="Device List"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <service
            android:name="com.humaralabs.fieldrun.service.EventUpdateService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"></service>
        <receiver android:name="com.humaralabs.fieldrun.reciever.FieldIQBootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.humaralabs.fieldrun.service.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.humaralabs.fieldrun.service.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
    </application>
</manifest>
